@if (Group.Name != "Root")
{
    <h2>@Group.Name</h2>
}
<ul>
    @foreach (var childGroup in Group.Children)
    {
        <li>
            <ComponentGroup Group="@childGroup" />
        </li>
    }
    @foreach (var component in Group.Components)
    {
        <li class="@classList(component.Slug)">

            <a href="/blazorbook/story/@component.Slug"
                @onclick="@(() => SetCurrentStory(component.Slug))"
                target="frame"
                >@component.Name</a>
        </li>
    }
    </ul>

@code {
    [Parameter]
    public BlazorBook.ComponentGroup Group { get; set; }

    string classList(string component) => CurrentStory == component ? "active" : "";

    [CascadingParameter(Name = "CurrentStory")]
    public string CurrentStory { get; set; }

    [CascadingParameter(Name = "SetCurrentStory")]
    Func<string, Task> SetCurrentStory { get; set; }
}
